body {
  margin: 0;
  background-color: rgb(231, 206, 159);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.nav-section {
  background: linear-gradient(to right, orange, orangered);
  display: flex;
  padding: 5px 30px;
}
.nav-caption {
  text-align: center;
  margin-left: 308px;
  align-items: center;
  margin-bottom: -10px;
  padding-top: 40px;
}
.nav-caption h1 {
  text-transform: capitalize;
}
.title {
  position: relative;
  font-size: 2.9rem;
}
.title {
  border-bottom: solid 3px orange;
  display: inline;
}
.nav-caption ul {
  list-style-type: none;
  display: flex;
  /* background-color: red; */
  padding-left: 0;
  justify-content: center;
}
.nav-caption li {
  margin-left: 20px;
  background-color: orange;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 5px;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: 0.2px 0.3px 0.5px black;
  color: white;
}
.logo {
  background-color: orangered;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  color: white;
  filter: drop-shadow(10px 10px black);
  box-shadow: -10px -10px black;
}
.logo::before {
  content: "Acme";
  background-color: white;
  font-size: 12px;
  border-radius: 50%;
  font-weight: 900;
  color: orangered;
  text-shadow: 0 0 1px black;
  padding: 5px;
}

.logo::after {
  content: "Food is life";
  display: block;
  background-color: white;
  font-size: 12px;
  border-radius: 50%;
  text-shadow: 0 0 1px black;
  color: orangered;
}

span {
  color: rgb(209, 209, 18);
  font-size: 45px;
  text-shadow: 0 0 1px black;
  font-weight: 900;
}

/* Menu section */
.menu-img {
  border-radius: 15px;
  object-fit: cover;
  width: 380px;
  max-height: 250px;
  margin-top: 60px;
  overflow: hidden;
}
section {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  gap: 40px;
}
.title-section{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.title-section h3{
  padding-left: -10px;
  text-transform: 0 0 1px black;
  margin-bottom: 0;
}
.title-section p, .rating{
  background-color: orange;
  padding: 3px 10px;
  border-radius: 3px;
  text-transform: 0 0 1px black;
  color: white;
  font-weight: bold;
}
.description{
  padding: 0 20px;
  color: rgb(48, 45, 45);
  text-transform: 1px 1px 1px black;
  letter-spacing:1px;
  font-size: 18px;
  margin-top: 0px;
  line-height: 25px;
}
.health-benefit{
  padding: 0px 20px;
}
.health-benefit ul{
  margin-top:2px;
  padding-left: 20px;
}
.list{
  list-style-type: none;
  position: relative;
  margin-top: 3px;
  letter-spacing: 1px;
  text-transform: 0 0 1px black;
  padding-left: 2px;
}
.list:before{
  content: '*';
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  left:-11px;
  bottom: -5px;
}
.username-section{
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.username-section img{
  border-radius: 50%;
  margin-top: -30px;
}
.comment-section{
  width: 70%;
  margin-top: 0px;
  margin-left: 10px;
}
.comment-section h4{
  margin-bottom: 0;
}
.comment-section p{
  margin-top: 5px;
  margin-bottom: 15px;
}
.rating{
  display: inline;
  background-color: red;
}
.footer{
  background: linear-gradient(to right, orangered, yellow);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-shadow: 0 0 0.5px black;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}